@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Inter, system-ui, sans-serif;
  }
}

.action-btn,
.action-btn-shadow {
  @apply relative text-white flex items-center justify-center cursor-pointer h-14 w-36 text-center rounded-full;
  background: linear-gradient(-45deg, #ffa63d, #ff3d77, #338aff, #3cf0c5);
  animation: grandient 20s linear infinite;
  background-size: 600%;
}

.action-btn-shadow {
  @apply absolute opacity-60 blur-xl mt-10 -z-10;
}

@keyframes grandient {
  100%,
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
